@model EmployeesViweModels


<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Part2">
    <table>
        <tr>
            <td>First Name: </td>
            <td> <input asp-for="FirstName" type="text" /> </td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input asp-for="LastName"  type="text" id="txtLastName" name="LastName" /></td>
        </tr>
        <tr>
            <td>
                File
            </td>
            <td>
                <input asp-for="Image" type="file" id="files"/>



            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />

</form>